{% extends 'quotes/base.html' %}

{% block title %}Delete Author{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-info" onclick="window.location.href='{% url 'quotes:home' %}'">
        Cancel
    </button>
    {% if author.id %}
    <form action="{% url 'quotes:author_delete' author_id=author.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endif %}
</form>
{% endblock %}